.list-nav {
  margin-top: 2em;
  display: flex;
  flex-direction: column;

  button {
    padding: 0.3em 0;
    border: none;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 0.4em 0;
    color: rgb(0, 22, 123);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .list-nav-item {
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.4rem;
    cursor: pointer;
    flex-wrap: wrap;

    .delete-list-icon {
      width: 1em;
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.156);
    }

    .delete-list-icon {
      display: flex;
      align-items: center;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        color: rgba(171, 5, 5, 0.667);
      }
    }
  }

  .list-nav-item.active {
    background-color: rgba(255, 255, 255, 0.352);
  }
}

@media screen and (min-width: 800px) {
  .list-nav {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .list-nav-item {
      font-size: 1.3rem;
      padding: 0.3em;
      padding-left: 2em;
      padding-right: 0.5em;

      .delete-list-icon {
        width: 1em;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .list-nav {
    .list-nav-item {
      font-size: 1.1rem;

      .delete-list-icon {
        width: 1em;
      }
    }
  }
}
